.operator{
  display: table;
}
.operator button {
  background-color: #71acc2;
  color: #466875;
  width: 75px;
  height: 75px;
  display: table-cell;
  box-sizing:border-box;
  font-size: 1.75rem;
  border: 1px solid #466875;
  column-span: 3;
  &:hover{
    color: white;
  }
}
